

/********************************GENERAL********************************/
body {  font-family: 'Satisfy', cursive;
}

a { text-decoration:none; 
}

img { max-width:100% 
}

#wrapper {
  max-width: 940px;
  margin:0 auto; 
  padding: 0 0;
}
 
h3 {
  margin:0 0 1em 0;
}
/********************************HEADING ********************************/
header {
  float:left; 
  margin:0 0 30px 0; 
  padding:5px 0 0 0;
  width:100%; /*should atreatch across entire page.*/
  color:#580000 
}

#logo {
  text-align:center ;
  margin: 0 0 ; 
  background-color:#580000 ;
}

h1, h2 {
  color:#000;
}

h1 {
  font-family: 'Norican', cursive;
  margin : 15px 0;
  font-size: 1.75em; 
  font-weight: normal;
  line-height: 0.5em;
}

h2 {
  font-family: 'Norican', cursive;
  font-size:1.50em; 
  font-weight: normal;
  margin:: 5px 0 0;
}

/********************************NAVIGATION ********************************/

nav {
    background-color:#580000;
    text-align:center;
  padding:10px 0;
  margin: 20 px 0 0;
  font-size: 1.25em;
}  

nav ul {
  background-color:#580000;
  list-style:none   ;
  margin: 10px 10px;
  padding: 0;
}  

nav li {  
  background-color:#580000;
  display:inline-table;
  margin: 10px 0px;
}

nav a {
  font-weight:bold;
  padding: 15px 10px;
}

nav {
  background-color:#580000  ;
}

/**NAV LINKS **/

nav a , nav a:visited  {
  color: white
}
/* selected nav LINKS*/

nav a.selected, nav a:hover {
   color: #000;
}


/********************************FOOTER**************************************/
footer {
  font-size:1em;
  text-align: center;
  clear:both;
  padding-top: 50px;
  color: #ccc
}

.social-icon {
  width:20px;
  height:20px;
  margin:0 5px;
}


/********************************PAGE:ABOUT**************************************/

 .profile-photo {
  display:block; /*setting this to block will allow to use auto margin in the center, (below) auto is for left and right*/
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius:100%;
}

/********************************about/GALLERY ********************************/

#gallery {
  margin:0;
  padding:2px 2px;
  list-style:none ;
}

      
 
   
  

#gallery li {
  float:left;
  width:28.3333% ;
  margin: 2.5%;
  background-color: #580000;
  list-style:none ; /*this one worked to remove bullets and abover didnt*/
}   
      
#gallery li a p {
  margin:0;
  padding: 0%;
  font-size: 1em;
  color: white ;
}      
      
/********************************CONTACT PAGE**************************************/
.contact-info {
  list-style:none;
  padding:0;
  margin: 0;
  font-size:0.9em;
}

 /********************************COLORS**************************************/

/* site body */

body {
  background-color: #580000  ; 
  color:black;
}

/* green header */

header {
  background:#580000 ;
  border-color:black;
}

/**LINKS **/
a {
  color: #6ab47b;
}
/*********************FORM*******************/
 #comments {
  background-color:#580000;
  text-decoration-color:white;

  border-style:groove;
 box-shadow: 10px 10px 5px;
   
}

#comments p {
  
  color:white;
}




